
@model Softuni_Project.Models.CommentViewModel
<div><strong>@Model.AuthorName: </strong>@Model.Content</div>
<p>
    score @Model.Score
@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LikeComment", "Comment", new { @id = Model.Id }, FormMethod.Post))
        {
            <button type="submit" id="Like" class="btn btn-primary">Like</button>
        }
    }
</p>



 @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
 {
  @Html.ActionLink("Edit", "Edit", "Comment", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs postConfigButton" })
  @Html.ActionLink("Delete", "Delete", "Comment", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs postConfigButton" })
}
<br />

