@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            

            
            <li>
                <img src="@Url.Action("DisplayProfilePicture", "Home" )" style="width:40px;height:40px; background: #FFFFFF;
                                      margin: auto; margin-top: 5px;
                                      -moz-border-radius: 60px;
                                      border-radius: 100px;
                                      padding: 1px;
                                      box-shadow: 0px 0px 20px #888;" />
            </li>

            <li>
                @Html.ActionLink("Profile", "Index", "UserProfile")
            </li>

            <li>
                <!--  @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})  -->
                @Html.ActionLink("Settings","Index","Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
