@model Softuni_Project.Models.TextPostViewModel
@{
    ViewBag.Title = "Create";
}
@Styles.Render("~/Content/CreateTextPost.css")

<div class="container">
    <div class="row"><h2 class="text-center blueColor"><span class="glyphicon glyphicon-pencil blackColor"></span> Create Post</h2></div>
        
        @if (ViewBag.Message != null)
        {
            <div class="alert-danger" style="padding: 10px">@ViewBag.Message</div>
        }

        @using (Html.BeginForm("Create", "TextPost", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "8" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, new {@class = "col-sm-4 control-label"})
                <div class="dropdown col-sm-4">
                    @Html.DropDownListFor(m => m.CategoryId,
                        new SelectList(Model.Categories, "Id", "Name"),
                        new {@class = "btn btn-info col-sm-12"})
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "TextPost", null, new { @class = "btn btn-default marginLeft" })
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        }
</div>


