@model Softuni_Project.Models.TextPost
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Html.ActionLink(Model.Title, "Details", "TextPost", new { @id =Model.Id }, null)
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <footer class="pull-left col-sm-12">
            <p>submitted by @Model.Author.FullName , score @Model.Score</p>

            @Html.ActionLink("Back", "ListAll", "TextPost", null, new { @class = "btn btn-default btn-xs" })
        </footer>
        
    </article>
</div>
<hr />