@model Softuni_Project.Models.TextPostDetailsVewModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Html.ActionLink(Model.Title, "Details", "TextPost", new { @id =Model.Id }, null)
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <p>submitted by @Model.Author , score @Model.Score</p>
    <div>
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment)
        }
    </div>
     
        @if (User.Identity.IsAuthenticated)
        {
            using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
            {
                @Html.Hidden("TextPostId", Model.Id)
                @Html.TextArea("comment")
                @Html.AntiForgeryToken()
                <br /><input type="submit" value="Submit comment" />
            }
        }

        @section scripts{
            @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
            <script>
        function commentPostFailure() {
            alert("Error");
        }
            </script>
        }
        <footer class="pull-left col-sm-12">
            
           
            @Html.ActionLink("Back", "ListAll", "TextPost", null, new { @class = "btn btn-default btn-xs" })
        </footer>
        
    </article>
</div>
<hr />
