@model Softuni_Project.Models.TextPost
@{
    ViewBag.Title = "Details";
}

<head>
    <link href="~/Content/TextPost.css" rel="stylesheet" type="text/css" />
</head>
@Styles.Render("~/Content/TextPost.css")


<div class="container">
    <!--Article Title / Content / Author-->

    <div class="row">
        <div class="col-sm-12 text-center">
            <header>
                <h1>
                    @Html.ActionLink(Model.Title, "Details", "TextPost", new { @id = Model.Id }, new { style = "text-decoration:none;font-size:41px;" })
                </h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" id="mainContent">
            <article>
                @Model.Content
            </article>
        </div>
        <div class="pull-right">
            <p>submitted by: <span class="authorAndScore">@Model.Author.FullName</span>, score <span class="authorAndScore">@Model.Score</span></p>
        </div>
    </div>

    <!-- Edit Delete Back Buttons-->
    <div class="row">
        <div class="text-center">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "TextPost", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs postConfigButton" })
                @Html.ActionLink("Delete", "Delete", "TextPost", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs postConfigButton" })
            }
            @Html.ActionLink("Back", "ListAll", "TextPost", null, new { @class = "btn btn-default btn-xs textPostBtn" })
        </div>
    </div>


    <!-- Comment Form -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-sm-3">
                <h2 class="blueHeading">Comment here:</h2>
            </div>
            <div class="col-sm-7">
                @using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
                {

                    @Html.Hidden("TextPostId", Model.Id)
                    @Html.TextArea("Content", "")
                    @Html.AntiForgeryToken()
                <div class="col-sm-offset-5"><input type="submit" value="Comment" class="btn btn-default commentButton text-center" /></div>

                }                
            </div>                         
        </div>        
    }


    <!-- Comments -->
    <div class="row">
        <div class="col-sm-3">
        </div>
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment)

        }
    </div>
</div>
