@model List<Softuni_Project.Models.TextPost>
@{
    ViewBag.Title = "Posts";
}
@Styles.Render("~/Content/ListAllIndex.css")
<div class="container">
    <div class="row" style="margin-top:15px;">
        <div class="col-sm-offset-3 col-sm-9 text-center" id="sortBy">
            @Html.ActionLink("Title", "ListAll", new { sortOrder = ViewBag.TitleSortParm })
            @Html.ActionLink("Score", "ListAll", new { sortOrder = ViewBag.ScoreSortParm })
            @Html.ActionLink("Date Posted", "ListALL", new { sortOrder = ViewBag.DateSortParm })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3" id="categoriesList">
            <h3 class="categoriesHeading text-center">Categories:</h3>

            @foreach (var c in ViewBag.Categories)
            {
                <div class="alert alert-info">
                   
                    @{
                        string categoryName = c.Value;
                        @Html.ActionLink(categoryName, "ListAll", "TextPost", new {@id = c.Key},null);
                    }

                </div>
            }
        </div>
        <div class="col-sm-9" id="allPosts">
            @foreach (var post in Model)
            {
                <div class="col-sm-12 text-center currentPost">
                    <article>
                        <header>
                            <h2>
                                @Html.ActionLink(@post.Title, "Details", "TextPost", new { @id = post.Id }, null)
                            </h2>
                        </header>
                        <footer class="pull-left col-sm-12">
                            <p>submitted by @post.Author.FullName , score @post.Score</p>
                        </footer>
                    </article>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LikePost", "TextPost", new { @id = post.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-primary"> Like </button>
                        }
                    }
                </div>
                <hr />
            }
        </div>
    </div>
</div>
