@model Softuni_Project.Models.UserProfile


@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/UserProfile.css")

<div class="container">
    <div class="row">
        <h2 class="col-sm-12 text-center page-header"> <span class="glyphicon glyphicon-user"></span> <span class="blueColor">User Profile</span></h2>
    </div>

    @using (Html.BeginForm("ChnageProfilePicture", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">

                <img src="@Url.Action("DisplayProfilePicture", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
                                      margin: auto;
                                      -moz-border-radius: 60px;
                                      border-radius: 10px;
                                      padding: 5px;
                                      box-shadow: 0px 0px 20px #888;" />
            </div>
           
            @{ var userEmail= HttpContext.Current.User.Identity.Name; }                     
            <div class="col-sm-6" id="userStats">
                <div class="userProperty">Email: <span class="blueColor">@userEmail</span></div>
                <div class="userProperty">Full Name: <span class="blueColor">@ViewBag.FullName</span></div>
                <div class="userProperty">Number of Posts: <span class="blueColor">@ViewBag.NumberOfPosts</span></div>
                <div class="userProperty">Total score: <span class="blueColor">@ViewBag.TotalScore</span></div>

                <div class="form-group" id="userProfile">
                    @Html.LabelFor(m => m.UserPhoto, new { @class = "col-sm-12 label-UserPhoto" })
                    <div class="col-sm-2">
                        <label class="btn btn-default btn-file" onclick="document.getElementById('myBox').style.display='inline-block';">
                            Browse <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" style="display: none;" />
                        </label>
                        <span id="myBox" style="display:none">File chosen, please upload</span>
                    </div>

                    <div class="col-sm-2">
                        <input type="submit" value="Upload" class="btn btn-default" onclick="document.getElementById('myBox').style.display='none';" />
                    </div>

                </div>

            </div>
        </div>

        <div class="row">

            
        </div>
    }
</div>
